
Project Name: Spanish Tutor
Client: NA
Author: Maximiliano Diaz Garcia
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */

* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/******************************************
/* BASE STYLES
/*******************************************/

:root {
  --paragraph:'Inconsolata', monospace;
  --black: #121212;
  /*193549*/
  /*#2A364D(original)*/
   --click: #B9E2A6;
  --lightgrey: #6C788E;
}
body {
  /*color: mintcream;*/
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.02em;
  font-family: 'bodoni';
  margin: 0;
  padding: 0;
  min-height: 100vh;
  color: #FDFDFD;
}
h1 {
  text-transform: uppercase;
  font-size: 2.5rem;
  padding: 1em 1em 0 .4em;
  font-weight: lighter;
}
header {
  background-color: var(--black);
  font-family: 'bodoni', sans-serif;
  /*min-height: 60vh;*/
}
header > p {
  color: #FDFDFD;
  font-family: var(--paragraph);
  padding: 1em 1em .5em 1em;
}
footer {
  background-color: #FCFDFF;
}
img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
ul {
  padding: 0 1em 1em 2em;
  color: var(--black);
  list-style: square;
}
.content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: auto;
}
.container-wrapper {
  grid-column: 1/13;
}
/*p.hola {
  font-size: 1.3rem;
  color: #121212;
}*/
p.text {
  padding: 1em 1em .5em 1em;
  color: var(--black);
  font-family: var(--paragraph);
}
p.text.white {
  color: #FDFDFD;
  font-family: var(--paragraph);
}

/******************************************
HEADER
/*******************************************/
.tutor {
  background-color: #FDFDFD;
  color: var(--black);
  margin: 1em 0 1em 1em;
  padding: 1em .5em 2em .5em;
  text-transform: uppercase;
  letter-spacing: .1em;
  margin-left: .5em;
  /*font-weight: bold;*/
}
/*.header-farewell {
  font-weight: bold;
}*/

/******************************************
MAIN
/*******************************************/
.intro-first {
  padding: 1em 1em .5em .7em;
  /*text-decoration: underline;*/
  color: var(--black);
  font-family: 'Inconsolata', monospace;
  font-size: 1.5rem;
}
.introduction {
  padding-top: 3em;
}
.introduction-second {
  text-decoration: underline;
  padding: .5em .5em 1em 0;
  color: #121212;
  font-family: var(--paragraph);
  line-height: 1.5em;
}
@supports (initial-letter: 4) or
  (-webkit-initial-letter: 4) {

  .intro-first::first-letter {
    font-weight: bold;
    text-decoration: none;
    margin-right: .5em;

    -webkit-initial-letter: 4;
    initial-letter: 4;
  }
}
.bienvenido {
  font-size: 3rem;
  color: var(--black);
  font-variant: all-petite-caps;
  letter-spacing: 0.1em;
  padding: .5em .5em 0 .35em;
  margin: 0;
}
.enie {
  display: flex;
  background-color: var(--black);
  color: #FDFDFD;
  padding: 2em;
  font-size: 3rem;
  justify-content: center;
  align-items: center;
}
.arab-title {
  color: var(--lightgrey);
  padding: 1em 1em 0 .7em;
  font-size: 1.6rem;
}
.fact1 p.text.andes {
  font-weight: bold;
  padding-top: 0;
}
.fact2 {
  display: none;
  background-color: var(--black);
  color: #FDFDFD;
  padding: 4em;
  text-align: center;
  font-variant: small-caps;
}
.flamenco {
  display: none;
}
/*.square-pattern {
  padding: 3em .5em 1em .5em;
  background-color: #FDFDFD;
  border: 2px solid #121212;
  border-bottom-color: #FDFDFD;
}*/
.uno {
  color: var(--black);
  text-align: left;
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
  font-family: 'bodoni', sans-serif;
}
.dos {
  color: var(--black);
  text-align: left;
  font-weight: bold;
}

/******************************************
ASIDE
/*******************************************/
.aside {
  background-color: var(--black);
  padding-bottom: .5em;
}
.aside-title {
  text-align: right;
  font-size: 2em;
  padding-right: 0.5em;
}
.writers {
  color: #FDFDFD;
  text-align: left;
  padding: 4em 0 1em 0;
}
.writer-sub {
  color: #FDFDFD;
  text-align: center;
  padding: 0 1em .5em 1em;
  font-size: 1rem;
}
/*.julio {

}*/
.notes-to-pizarnick {
  font-variant: sub;
  line-height: 1;
}
.notes-to-cortazar {
  font-variant: sub;
  line-height: 1;
}
.notes-to-rulfo {
  font-variant: sub;
  line-height: 1;
}
.notes-to-onetti {
  font-variant: sub;
  line-height: 1;
}
.farewell {
  text-align: center;
  font-variant: small-caps;
  padding: 1em 1.5em 1em 1.5em;
  font-size: 1rem;
  letter-spacing: .1em;
  font-weight: bold;
  /*word-spacing: .2em;*/
}

/******************************************
FOOTER
/*******************************************/
.footer-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1em minmax(3em, auto) 1em;
  grid-gap: .5em;
  align-items: center;
  color: var(--black);
}
.maxi-photo {
  grid-column: 2/2;
  grid-row: 2/3;
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
}
.name {
  grid-column: 3/6;
  grid-row: 2/3;
  font-size: 1rem;
}
.complete-name {
  font-weight: bold;
}
@supports (filter: grayscale(1)) and (background-blend-mode: difference) {
  .maxi-photo {
    background-blend-mode: difference;
    background-position: calc(50% - 1px) calc(50% - 1px), calc(50% + 1px) calc(50% + 1px);
    filter: brightness(1.5) grayscale(1);
  }
}
.location {
  color: var(--black);
}
.icons {
  grid-row: 2/3;
  grid-column: 7/8;
  display: flex;
  flex-direction: column;
  border-left: 1px solid var(--lightgrey);
  padding: 1px 5px 1px 5px;
}
.fa-2x {
  color: var(--lightgrey);
  text-decoration: none;
}
.fab:hover {
  color: var(--black);
}
.far:hover {
  color: var(--black);
}

/* Medium devices (small tablets, portrait tablets) */
@media (min-width: 600px) {
    h1 {
    text-transform: uppercase;
    font-size: 3rem;
    padding: 1em 1em 0 1em;
    }
    header {
      min-height: 50vh;
    }
    header > p {
      font-size: 1.5rem;
      line-height: 1.7;
      padding: 0 2em 3em 2em;
    }
    p.text {
      padding: 1em 0.5em .5em 2em;
    }
    p.text.white {
      padding: 1em 1em .5em 1em;
    }
    .tutor {
      margin: 4em 0 1em 2em;
    }
    .main {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(8, minmax(100px, auto));
      grid-gap: .5em;
      /*padding-bottom: 3em;*/
    }
    .bandoneon {
      grid-column: 1/7;
      grid-row: 1/2;
    }
    .introduction {
      grid-column: 1/7;
      grid-row: 2/3;
    }
    .bienvenido {
      font-size: 3.5rem;
      padding: .5em .5em 0 0.75em;
    }
    .introduction-second {
      grid-column: 1/7;
      grid-row: 3/4;
      line-height: 1.6;
    }
    .enie {
      grid-column: 5/7;
      grid-row: 4/5;
      padding: 0;
    }
    .enie > p {
      font-size: 8rem;
    }
    .arab {
      grid-column: 1/5;
      grid-row: 4/5;
    }
    .arab-title {
      padding: 0 .2em 0 1.5em;
    }
    ul {
      padding: 0 1em 1em 3em;
    }
    .vines {
      grid-column: 1/7;
      grid-row: 5/7;
    }
    .flamenco {
      grid-column: 1/5;
      grid-row: 6/7;
    }
    .fact1 {
      grid-column: 1/5;
      grid-row: 7;
    }
    .fact1 p.text.andes {
      padding-top: 0.5em;
      /*color: #FDFDFD;*/
      letter-spacing: .04em;
    }
    .fact2 {
      display: block;
      grid-column: 5/7;
      grid-row: 7/9;
      padding: 1em;
    }
    .aside {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(8, minmax(150px, auto));
      grid-gap: .5em;
      padding-bottom: 3em;
    }
    .aside-title {
      padding-left: 0.6em;
      font-size: 3.8rem;
      text-align: right;
      line-height: 0.9em;
    }
    .intro-first {
      font-size: 1.7rem;
      padding: 1em 1em .5em 1.6em;
    }
    .writers {
      grid-column: 4/7;
      grid-row: 1/2;
      /*padding-left: 1em;
      padding-top: 5em;*/
      padding: 1em 1em 5em 0;
    }
    .writer-sub {
      padding: 0 1.5em .3em 0;
      text-align: left;
    }
    .pizarnick {
      grid-column: 1/5;
      grid-row: 2/4;
    }
    .notes-to-pizarnick {
      grid-row: 2/3;
      grid-column: 5/7;
      line-height: 1;
    }
    .writers-intro {
      grid-column: 3/7;
      grid-row: 5/6;
    }
    .julio {
      grid-column: 5/7;
      grid-row: 4/5;
    }
    .notes-to-cortazar {
      grid-column: 5/7;
      grid-row: 3/4;
      line-height: 1;
      display: flex;
      align-items: flex-end;
    }
    .rulfo {
      grid-column: 1/3;
      grid-row: 4/5;
    }
    .notes-to-rulfo {
      grid-column: 3/4;
      grid-row: 4/5;
    }
    .aside-square {
      grid-column: 3/5;
      grid-row: 4/5;
    }
    .onetti {
      grid-row: 5/6;
      grid-column: 1/3;
    }
    .notes-to-onetti {
      display: none;
    }
    .borges {
      grid-column: 1/7;
      grid-row: 6/7;
    }
    .notes-to-borges {
      grid-column: 1/7;
      grid-row: 7/8;
    }
    .farewell {
      grid-column: 2/6;
      grid-row: 8/9;
      display: flex;
      align-items: end;
      font-size: 1.5rem;
      margin: 0 .5em 0 .5em;
      padding: 0;
      letter-spacing: 0.03em;
    }
    .footer-container {
      grid-template-rows: .5em minmax(3em, auto) .5em;
      grid-gap: .7em;
    }
    .name {
      grid-column: 3/6;
      grid-row: 2/3;
      font-size: 1.1rem;
    }
    .icons {
      font-size: 1.2rem;
    }

}
/* End */

/* Large devices (large tablets/laptops/desktops) */
@media (min-width: 1200px) {
  header {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, minmax(200px, auto));
    grid-gap: 1em;
    min-height: 100vh;
  }
  header > p {
    grid-column: 2/6;
    grid-row: 3/5;
    font-size: 2.5rem;
    padding-left: 0;
  }
  .tutor {
    padding-left: 2em;
    letter-spacing: .3em;
    margin-left: -2em;
  }
  h1 {
    font-size: 4rem;
    grid-column: 2/6;
    grid-row: 1/2;
    padding-left: 0;

  }
  h2 {
    grid-column: 2/7;
    grid-row: 2/3;
  }
  p {
  	font-size: 1.1rem;
  }
  p.text {
    padding: 0 0 1em 0;
    font-size: 1.5rem;
  }
  .intro-first {
    padding: 0 0 1em 0;
  }
  .website {
    grid-column: 1/13;
  }
  .main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, minmax(200px, 300px));
    grid-gap: 1em;
    padding-top: 2em;
  }
  .bienvenido {
    font-size: 7rem;
    padding: 0;
  }
  .bandoneon {
    grid-column: 1/6;
    grid-row: 2/3;
  }
  .introduction {
    grid-column: 2/6;
    grid-row: 1/2;
  }
  .introduction-second {
    grid-column: 2/4;
    grid-row: 3/4;
  }
  .enie {
    grid-column: 4/5;
    grid-row: 3/4;
    padding: 0;
  }
  .enie > p {
    font-size: 10rem;
  }
  .arab {
    grid-column: 5/6;
    grid-row: 3/4;
  }
  .arab-title {
    padding: 0;
  }
  .vines {
    grid-column: 2/5;
    grid-row: 4/5;
  }
  .flamenco {
    grid-column: 2/5;
    grid-row: 5/6;
  }
  .fact1 {
    grid-column: 2/5;
    grid-row: 5/6;
  }
  .fact1 p.text.andes {
    padding-top: 0.5em;
    /*color: #FDFDFD;*/
    font-weight: bold;
    letter-spacing: .06em;
  }
  .fact2 {
    grid-column: 5/6;
    grid-row: 5/6;
    padding: 1em;
    color:
    /*grid-column: 5/6;
    grid-row: 4/5;*/
  }
  /*.pills {
    grid-column: 5/6;
    grid-row: 1/2;
  }*/
  /*.square-pattern {
    display: none;
  }*/
  .aside {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, minmax(200px, auto));
    grid-gap: 1em;
  }
  .aside-title {
    font-size: 5rem;
    text-align: right;
    padding: 0;
  }
  .writers {
    grid-column: 5/6;
    grid-row: 1/2;
    padding-left: 0;
    padding-top: 2em;
    padding-right: 0;
  }
  .pizarnick {
    grid-column: 2/4;
    grid-row: 2/4;
  }
  .notes-to-pizarnick {
    grid-column: 4/5;
    grid-row: 3/4;
    display: flex;
    align-items: end;
    line-height: 1;
    padding: 0;
  }
  .writers-intro {
    grid-column: 4/6;
    grid-row: 2/3;
  }
  .julio {
    grid-column: 5/6;
    grid-row: 3/4;
  }
  .notes-to-cortazar {
    align-items: flex-start;
    grid-row: 3/4;
    grid-column: 4/5;
    line-height: 1;
    padding: 0;
  }
  .writer-sub.cortazar {
    text-align: right;
  }
  .rulfo {
    grid-column: 2/3;
    grid-row: 4/5;
  }
  .notes-to-rulfo {
    grid-column: 2/3;
    grid-row: 5/6;
    padding: 0;
  }
  .onetti {
    grid-column: 3/4;
    grid-row: 4/5;
  }
  .notes-to-onetti {
    display: block;
    grid-row: 5/6;
    grid-column: 3/4;
    padding: 0;
  }
  .borges {
    grid-column: 4/6;
    grid-row: 4/5;
  }
  .notes-to-borges {
    grid-column: 4/6;
    grid-row: 5/6;
  }
  .farewell {
    grid-column: 2/4;
    grid-row: 5/6;
    align-items: flex-end;
    padding: 0 .3em 0 .3em;
    font-size: 1.2rem;
    letter-spacing: .3em;
  }
  .aside-square {
    display: none;
  }
  .footer-container {
    grid-template-rows: 1.5em minmax(4em, auto) 1.5em;
    grid-gap: 1em;
  }
  .name {
    font-size: 1.2rem;
  }
  .icons {
    font-size: 1.5rem;
  }
}

/* XL devices */
@media (min-width: 1800px) {
  body {
    font-size: 1.3rem;
  }
  h1 {
    font-size: 5rem;
  }
  .main {
    grid-template-rows: repeat(5, minmax(300px, 350px));
    grid-gap: 1em;
    padding-top: 3em;
  }
  .bienvenido {
    font-size: 10rem;
  }
}

/*SANDBOX*/

/*dialog {
  font-family: Indie Flower;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: red;
}*/
